@mixin use-font-icon(){
  font-family: "iconfont";
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  line-height: 1;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


$icon-var-add: "\EA01";
$icon-var-airplane-depart: "\EA02";
$icon-var-airplane-return: "\EA03";
$icon-var-airplane: "\EA04";
$icon-var-bag: "\EA05";
$icon-var-bullet: "\EA06";
$icon-var-calender: "\EA07";
$icon-var-call-us: "\EA08";
$icon-var-car-booking-time: "\EA09";
$icon-var-car: "\EA0A";
$icon-var-caret-down: "\EA0B";
$icon-var-chat-with-us: "\EA0C";
$icon-var-check-circle: "\EA0D";
$icon-var-check-native: "\EA0E";
$icon-var-check: "\EA0F";
$icon-var-clipboard-circle: "\EA10";
$icon-var-closeddrawer: "\EA11";
$icon-var-current-location: "\EA12";
$icon-var-delete: "\EA13";
$icon-var-early-bird: "\EA14";
$icon-var-email-us: "\EA15";
$icon-var-exclamation-circle: "\EA16";
$icon-var-exclamation: "\EA17";
$icon-var-facebook-2: "\EA18";
$icon-var-flight: "\EA19";
$icon-var-hamburger: "\EA1A";
$icon-var-home-checkin: "\EA1B";
$icon-var-home-flight-status: "\EA1C";
$icon-var-home-manage: "\EA1D";
$icon-var-home-rapid-rewards: "\EA1E";
$icon-var-home-special-offers-tag: "\EA1F";
$icon-var-home: "\EA20";
$icon-var-hotel: "\EA21";
$icon-var-ic-error: "\EA22";
$icon-var-ic-external-link: "\EA23";
$icon-var-ic-feedback: "\EA24";
$icon-var-ic-info: "\EA25";
$icon-var-keyboard-arrow-down: "\EA26";
$icon-var-keyboard-arrow-left: "\EA27";
$icon-var-keyboard-arrow-right: "\EA28";
$icon-var-keyboard-arrow-up: "\EA29";
$icon-var-location-arrow: "\EA2A";
$icon-var-marker-depart: "\EA2B";
$icon-var-marker-return: "\EA2C";
$icon-var-minus-normal: "\EA2D";
$icon-var-minus: "\EA2E";
$icon-var-next-day-indicator: "\EA2F";
$icon-var-number-circle-eight: "\EA30";
$icon-var-number-circle-five: "\EA31";
$icon-var-number-circle-four: "\EA32";
$icon-var-number-circle-nine: "\EA33";
$icon-var-number-circle-one: "\EA34";
$icon-var-number-circle-seven: "\EA35";
$icon-var-number-circle-six: "\EA36";
$icon-var-number-circle-three: "\EA37";
$icon-var-number-circle-two: "\EA38";
$icon-var-openeddrawer: "\EA39";
$icon-var-passenger: "\EA3A";
$icon-var-pencil: "\EA3B";
$icon-var-pin: "\EA3C";
$icon-var-plus-normal: "\EA3D";
$icon-var-plus: "\EA3E";
$icon-var-points: "\EA3F";
$icon-var-profile: "\EA40";
$icon-var-pts: "\EA41";
$icon-var-refresh: "\EA42";
$icon-var-remove: "\EA43";
$icon-var-search: "\EA44";
$icon-var-sortFilter: "\EA45";
$icon-var-stops: "\EA46";
$icon-var-travel-alert: "\EA47";
$icon-var-twitter-2: "\EA48";
$icon-var-two-bags: "\EA49";
$icon-var-user: "\EA4A";
$icon-var-vacation: "\EA4B";
$icon-var-wherewefly: "\EA4C";
$icon-var-young-traveler-circle: "\EA4D";
