.fare-purchase-info--fare-type {
  @include bold;
  @include large;
}

.fare-purchase-info {
  @include bggray1;
  @include table;
  @include fullwidth;
  height: 7.2rem;

  &.fare-purchase-info--selectable {
    &:hover {
      cursor: pointer;
    }

    .aside-col {
      @include relative;
      @include bgyellow;
      @include pdkblue;
    }
  }

  .currency {
    @include xxlarge;
    @include bold;
  }

  .main-col {
    @include flex;
    @include flex-main-between;
    @include flex-cross-center;
    @include px4;
    height: inherit;

    .label {
      @include white;
      @include bgpblue;
      @include medium;
      @include rd10;
      @include center;
      height: 1.8rem;
      width: 5rem;
      line-height: 1.5;
    }
  }

  .aside-col {
    @include table-cell;
    @include align-middle;
    @include center;
    @include bggray2;
    @include gray5;
    width: 10rem;
    z-index: 1;

    .value {
      @include py1;

      .intl-points-taxes {
        @include flex;
        @include flex-main-center;
        @include large;
        @include bold;
      }

      .intl-points-taxes--currency {
        @include larger;
        @include italic;
      }
    }

    .icon {
      @include absolute;
      @include r0;
      @include xxlarge;
      top: 50%;
      transform: translateY(-50%);
      color: darken($yellow, 25%);
    }
  }
}
