.error-header {
  @include relative;
  @include py5;
  @include large;
  @include red;
  @include bggray1;
  padding-left: 4.8rem;
  padding-right: 4.8rem;

  .icon_exclamation-circle {
    position: absolute;
    top: 0.6rem;
    left: 1rem;
    font-size: 3.2rem;
  }
}
