@mixin smaller {
  font-size: 0.8rem;
}
@mixin small {
  font-size: 1rem;
}
@mixin medium {
  font-size: 1.2rem;
}
@mixin large {
  font-size: 1.4rem;
}
@mixin larger {
  font-size: 1.6rem;
}
@mixin xlarge {
  font-size: 1.8rem;
}
@mixin xxlarge {
  font-size: 2.2rem;
}
@mixin fontsize24 {
  font-size: 2.4rem;
}
@mixin xxxlarge {
  font-size: 2.8rem;
}

@mixin bold {
  font-weight: bold;
}
@mixin regular {
  font-weight: normal;
}
@mixin italic {
  font-style: italic;
}
@mixin not-italic {
  font-style: normal;
}
@mixin caps {
  text-transform: uppercase;
}

@mixin align-left {
  text-align: left;
}
@mixin center {
  text-align: center;
}
@mixin align-right {
  text-align: right;
}
@mixin justify {
  text-align: justify;
}

@mixin lineheight6 {
  line-height: 0.6;
}
@mixin lineheight8 {
  line-height: 0.8;
}
@mixin lineheight10 {
  line-height: 1;
}
@mixin lineheight12 {
  line-height: 1.2;
}
@mixin lineheight13 {
  line-height: 1.3;
}
@mixin lineheight14 {
  line-height: 1.4;
}
@mixin lineheight15 {
  line-height: 1.5;
}
@mixin lineheight16 {
  line-height: 1.6;
}
@mixin lineheight20 {
  line-height: 2;
}

@mixin nowrap {
  white-space: nowrap;
}
@mixin pre-line {
  white-space: pre-line;
}
@mixin pre-wrap {
  white-space: pre-wrap;
}
@mixin word-wrap {
  word-wrap: break-word;
}
@mixin word-break {
  word-break: break-all;
}
@mixin ellipsis {
  text-overflow: ellipsis;
}

@font-face {
  font-family: 'Southwest Sans';
  src: url('/content/mkt/fonts/SouthwestSans-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Southwest Sans';
  src: url('/content/mkt/fonts/SouthwestSans-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Fairwater Script';
  src: url('/content/mkt/fonts/FairwaterScript-Bold.woff');
  font-weight: normal;
}

@mixin southwest-sans {
  font-family: 'Southwest Sans', Arial, sans-serif;
}
@mixin fairwater-script {
  font-family: 'Fairwater Script', Arial, sans-serif;
}
